@import url("commonIcons.css");

.dformaLabelNode {
    text-align: center;
}
.dformaRequired:after {
    color: #8B0000;
    content: "*";
}
.dformaBlock {
	display:block !important;
}
.dformaBlock .dformaLabelNode {
	display:inline-block !important;
	width: 100px;
}
.dformaLabel:hover {
    background-color: gold;
}
