@import url("commonIcons.css");

.dformaLabel {
	margin:6px;
}
.dformaLabelNode {
	min-width: 100px;
	padding: 5px 0px 5px 5px;
}
.dformaRequired:after {
    color: #8B0000;
    content: "*";
}
.dformaLabelNode:hover {
	background-color: gold;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.dformaLabelNode:hover:after {
}

.dformaBuilderLabel {
	font-weight:bold;
	margin:5px;
}
.dformaGrid {
	margin:6px;
}
.dijitReset.dformaGridLabel {
	font-weight: bold;
	padding: 5px 0;
}
.dformaLabel:last-child{
	clear:right;
}
.dformaGroup, .dformaRepeat {
	clear:both;
	margin:10px;
}
.dformaGroupLabel, .dformaRepeatLabel {
	font-weight:bold;
	padding: 0 0 3px;
}
.dformaBuilderForm > .dformaLabel:first-child {
	display:block;
}
.dformaBuilderForm > .dformaLabel:first-child .dformaLabelNode {
	display:inline-block;
	width:100px;
}
.dformaCancel {
	float:right;
}
.dformaSubmit {
	float:right;
}
.dformaBuilderForm .dijitTextArea {
	width:400px;
}
.dformaBuilderForm .dgrid {
	width:500px;
	height:200px;
}