.dformaAddIcon {
	background:url("images/icons/add.png") repeat scroll 0 0 transparent;
}
.dformaDeleteIcon {
	background:url("images/icons/delete.png") repeat scroll 0 0 transparent;
}
.dformaEditIcon {
	background:url("images/icons/edit.png") repeat scroll 0 0 transparent;
}
