<div class="dijit dijitReset" data-dojo-attach-point="focusNode"
	aria-labelledby="${id}_label">
	<div class="dijitReset dijitHidden ${baseClass}Label"
		data-dojo-attach-point="labelNode" id="${id}_label"></div>
	<div class="dijitReset dijitHidden ${baseClass}Hint"
		data-dojo-attach-point="hintNode"></div>
	<div class="${baseClass}Container"
		data-dojo-attach-point="containerNode"></div>
	<div class="dijitReset dijitHidden ${baseClass}Message"
		data-dojo-attach-point="messageNode"></div>
</div>